<%= render 'templates/nav' %>
<% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
<% end %>
<div class="content">
  <%= render 'templates/genrelist' %>
</div>
<%= render 'templates/audioplayer' %>
