<%= render 'templates/nav' %>
<% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
<% end %>
<div id="content">
  <%= render 'templates/landinglist' %>
</div>
<%= render 'templates/audioplayer' %>
