<div class="wrapper">
  <div class="music">
    <figure>
      <img src="/assets/images/placeholder.jpg" alt="placeholder"/>
    </figure>
      <%= link_to '<div class="music-overlay icon-play"></div>'.html_safe, genre_show_path(:genre_id => 'all'), { :class=>'genre' } %>
    <div class="title">
      <h4><%= link_to 'Alle', genre_show_path(:genre_id => 'all'), { :class=>'genre' } %></h4>
    </div>
  </div>
  <% @genres.each do |genre| %>
      <div class="music">
        <figure>
          <img src="/assets/images/placeholder.jpg" alt="placeholder"/>
        </figure>
        <%= link_to '<div class="music-overlay icon-play"></div>'.html_safe, genre_show_path(:genre_id => genre.id), { :class=>'genre' } %>
        <div class="title">
          <h4><%= link_to genre.title, genre_show_path(:genre_id => genre.id), { :class=>'genre' } %></h4>
        </div>
      </div>
  <% end %>
</div>
