$red: #FF0000;
$green3: #00BF46;
$green2: #00D14E;
$green: #0DFF10;
$orange: #E8AE0C;
$grey: #272833;
$hoverGrey: #989898;
$pink: #FF00BF;
$darkGrey: #272727;

$mobile: 'screen and (max-width: 768px)';
$tablet1: 'screen and (max-width : 1080px)';
$tablet2: 'screen and (max-width : 1280px)';

